@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

html,body{margin:0}
h1,h2,h3,h4,p,figure{margin:0;}
ul,ol,li{list-style-type:none;
margin:0; padding:0;
}
img{vertical-align:middle;}
a{color:grey; text-decoration: none;}
*{box-sizing:border-box;font-family:'';}

header{
    width:1200px; margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:40px 0;
}
header h1{font-size:1.8rem}
header nav{}
header nav a{font-size:1.2rem; text-transform: uppercase
    ;
margin-left:50px;font-weight:bold;
display:inline-block;}

header nav a::after{content:'';
display:block;
margin:3px auto;
border-bottom:1px solid black;
width:10%;
transition:3.5s;
}

header nav a:hover::after{width:100%;}
